.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.screen {
  width: 98%;
  height: 60px;
  line-height: 60px;
  background-color: #ddd;
  text-align: right;
  font-size: 24px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.row-div {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 1px;
}

.button {
  width: 65px;
  height: 65px;
  font-size: 24px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-clear {
  background-color: #eaeaea;
}

.btn-operator {
  background-color: #ff9800;
  color: white;
}

.button-zero {
  width: 135px;
}

.btn-equal {
  background-color: #ff9800;
  color: white;
  height: 140px;
}
